.signUpPage {
  min-height: calc(100vh - 96px);
}

.signUpForm {
  flex: 3;
}

.signUpForm form input {
  width: 100%;
  padding: 15px;
  caret-color: #fece51;
  border: 1px solid #808080;
  outline: none;
  transition: 0.1s;
}

.signUpForm form input:focus {
  border-color: #fece51;
}

.signUpForm .forgotPassword {
  color: #FF725E;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

.signUpForm .link {
  color: #FF725E;
  text-decoration: underline;
  cursor: pointer;
}

.signUpImg {
  flex: 2;
  justify-content: center;
  align-items: center;
  background-color: #fcf5f3;
}