.filter {
  display: flex;
  flex-direction: column;
}

.filter .searchTitle {
  font-size: 24px;
  font-weight: 300;

  b {
    font-weight: bold;
  }
}
.filter .filterTitle {
  border: none;
  background: none;
  outline: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1rem;
}

.filter .filterTitle img {
  max-width: 100%;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}

.filter .top {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.filter .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.filter .bottom .input {
  display: flex;
  flex-direction: column;
  width: calc((100% / 6) - 16px);
}

.filter label {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 3px;
}

.filter input,
.filter select {
  border: 1px solid #e0e0e0;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  text-transform: capitalize;
}

.filter .bottom .mainBtn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.filter .bottom img {
  max-width: 100%;
  width: 20px;
  height: 20px;
}

@media (width < 576px) {
  .filter .bottom {
    gap: 0.5rem;
  }

  .filter .bottom .input,
  .filter .mainBtn {
    width: 100%;
  }
}