.listPage {
  min-height: calc(100vh - 96px);
  height: calc(100vh - 96px);
}

.listContainer {
  flex: 3;
}

.listContainer .wrapper {
  padding-right: 50px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.listContainer .list {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
  padding-right: 20px;
  overflow-y: scroll;
}

.mapContainer {
  flex: 2;
  background-color: #fcf5f3;
  position: relative;
  display: flex;
}


@media (width < 992px) {
  .listPage {
    height: initial;
  }

  .listContainer .wrapper {
    padding: 0;
    height: initial;
  }

  .listContainer .list {
    overflow-y: auto;
    padding-right: 0;
  }
}