.notFound {
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFound h1 {
  flex: 3;
}

.notFoundImg {
  height: 100%;
  flex: 2;
  background-color: #fcf5f3;
  display: flex;
  align-items: center;
}

.notFound img {
  max-width: 100%;
  object-fit: cover;
}

@media (width < 768px) {
  .notFound {
    padding-top: 2rem;
    flex-direction: column;
  }

  .notFound h1,
  .notFoundImg {
    flex: auto;
  }

  .notFound img {
    width: 100%;
    height: auto;
  }
}

@media (width < 992px) {
  .notFoundImg {
    background-color: #fff;
  }
}